 {% extends "base.html" %}
 {% load static %}
{% block title %} About{% endblock  %}

 {% block content %}
        <!-- Start Breadcrumb Area -->
        <div class="page-area area-120" >
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 justify-content-start align-items-center">
                        <div class="breadcrumb-title">
                            <div class="white-headline">
                                <h2>About <span class="sp-color">us</span></h2>
                            </div>
                        </div>
                        <div class="breadcrumb-page">
                           <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                       <a href=" {% static 'website/index-1.html' %} ">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">About us</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <!-- Start About area -->
        <div class="about-area about-page-area bg-color area-padding">
            <div class="container">
                <div class="row about-center-inner">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="row about-center d-flex align-items-center">
                            <div class="col-xl-6 col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="ab-content-inner">
                                    <div class="bg-layer item-bounce">
                                        <img src=" {% static 'website/img/icon/c1-1.png' %} " alt="">
                                    </div>
                                    <div class="bg-layer-2 rotateme">
                                        <img src=" {% static 'website/img/about/icon1-1.png' %} " alt="">
                                    </div>
                                    <div class="ab-image">
                                        <img class="ab1-image" src=" {% static 'website/img/about/ab-1.png' %} " alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="about-text">
                                    <div class="left-headline">
                                        <h2>Nice to meet you about your self our company news</h2>
                                        <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create. maintains the amount of lines. maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create. maintains the amount of lines maintains the amount of lines.maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create. maintains the amount of lines</p>
                                    </div>
                                    <div class="company-inner">
                                       <div class="big-content">
                                            <span class="big-text">12</span>
                                            <span class="under-text">Years Experience</span>
                                        </div>
                                        <div class="ab-mark-text">
                                            <ul>
                                                <li>Innovation idea latest tecnology maintains</li>
                                                <li>Digital content marketing  plateform to define</li>
                                                <li>Innovation idea tecnology help agencies.</li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Column -->
                </div>
            </div>
        </div>
        <!-- End About area -->
        <!-- Start Feature Area -->
        <div class="feature-area fix area-padding bg-color">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-content">
                            <div class="feature-images">
                                <img src=" {% static 'website/img/feature/feature-1.png' %} " alt="" class="first-img">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-all">
                            <div class="left-headline">
                                <h2>Elusion artificial intelligence provides clients security</h2>
                                <p>The phrasal sequence of the Lorem Ipsum text is now so and that many the phrase when found, an alarm can be raised.</p>
                            </div>
                            <!-- about single -->
                            <div class="support-services support-service-1 wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                               <img class="feature-icon-image" src=" {% static 'website/img/feature/f1-1.png' %} " alt="">
                                <div class="support-content">
                                    <h4>Factory Automotion</h4>
                                    <p>The phrasal sequence of the Lorem Ipsum text is now so and that   an alarm can be raised.</p>
                                </div>
                            </div>
                            <!-- about single -->
                            <div class="support-services support-service-2 wow fadeInUp d-flex align-items-center" data-wow-delay="0.7s">
                                <img class="feature-icon-image" src=" {% static 'website/img/feature/f2-1.png' %} " alt="">
                                <div class="support-content">
                                    <h4>Transportation</h4>
                                    <p>The phrasal sequence of the Lorem Ipsum text is now so and that   an alarm can be raised.</p>
                                </div>
                            </div>
                            <!-- about single -->
                            <div class="support-services support-service-3 wow fadeInUp d-flex align-items-center" data-wow-delay="0.7s">
                                <img class="feature-icon-image" src=" {% static 'website/img/feature/f3-1.png' %} " alt="">
                                <div class="support-content">
                                    <h4>Cyber Security</h4>
                                    <p>The phrasal sequence of the Lorem Ipsum text is now so and that   an alarm can be raised.</p>
                                </div>
                            </div>
                            <!-- about single -->
                            <div class="support-services support-service-4 wow fadeInUp d-flex align-items-center" data-wow-delay="0.7s">
                                <img class="feature-icon-image" src=" {% static 'website/img/feature/f4-1.png' %} " alt="">
                                <div class="support-content">
                                    <h4>Healthcare</h4>
                                    <p>The phrasal sequence of the Lorem Ipsum text is now so and that   an alarm can be raised.</p>
                                </div>
                            </div>
                            <!-- about single -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- End Feature Area -->
       <!--Start Team Area-->
        <div class="team-area bg-color area-padding-2">
           <div class="container">
                <div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="section-headline text-center">
							<h2>Our Teams</h2>
                            <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create. maintains the amount of lines</p>
						</div>
					</div>
               </div>
                <div class="row">
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t1-1.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Arnold</a></h4>
                                    <p>Media expert</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t2-1.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Arizona</a></h4>
                                    <p>Web design</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t3-1.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Lunia</a></h4>
                                    <p>Marketer</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t4-1.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Lunia</a></h4>
                                    <p>Marketer</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t5-1.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Holend</a></h4>
                                    <p>Marketer</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t6-1.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Jakob</a></h4>
                                    <p>Marketer</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Teams area end -->
        <!-- start pricing area -->
        <div class="pricing-area bg-color2 fix area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="price-head-inner">
                            <h2>Company software anual prices include tax and support details</h2>
                            <p>The phrasal sequence of the Lorem Ipsum text is now so widespread and commonplace that many DTP programmes can generate dummy.</p>
                            <div class="price-image">
                                <img src=" {% static 'website/img/feature/price-1.png' %} " alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="table-list wow fadeInUp" data-wow-delay="0.3s">
                            <div class="tabil-list-warp">
                                <div class="top-price-inner align-items-center">
                                    <h3>General</h3>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">$</span>Free</span><span class="users">Any Time</span>
                                    </div>
                                    <div class="price-btn-inner">
                                        <a class="price-btn" href=" {% static 'website/contact-1.html' %} ">Register</a>
                                    </div>
                                </div>
                                <div class="work-list">
                                    <ol class="one-work-line">
                                        <li class="check">Accessing</li>
                                        <li class="check">AI Writer</li>
                                        <li class="check">Create Image</li>
                                    </ol>
                                    <ol class="two-work-line">
                                        <li class="check">Marketing</li>
                                        <li class="check">Send Mail</li>
                                        <li class="check cross">Online support</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="table-list active-table wow fadeInUp" data-wow-delay="0.6s">
                            <span class="base">Top Rated</span>
                            <div class="tabil-list-warp">
                                <div class="top-price-inner">
                                    <h3>General</h3>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">$</span>80</span><span class="users">Per Month</span>
                                    </div>
                                    <div class="price-btn-inner">
                                        <a class="price-btn" href=" {% static 'website/contact-1.html' %} ">Buy now</a>
                                    </div>
                                </div>
                                <div class="work-list">
                                    <ol class="one-work-line">
                                        <li class="check">Accessing</li>
                                        <li class="check">AI Writer</li>
                                        <li class="check">Create Image</li>
                                    </ol>
                                    <ol class="two-work-line">
                                        <li class="check">Marketing</li>
                                        <li class="check">Send Mail</li>
                                        <li class="check cross">Online support</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="table-list wow fadeInUp" data-wow-delay="0.7s">
                            <div class="tabil-list-warp">
                                <div class="top-price-inner">
                                    <h3>Standard</h3>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">$</span>200</span><span class="users">Per Month</span>
                                    </div>
                                    <div class="price-btn-inner">
                                        <a class="price-btn" href=" {% static 'website/contact-1.html' %} ">Buy now</a>
                                    </div>
                                </div>
                                <div class="work-list">
                                    <ol class="one-work-line">
                                        <li class="check">Accessing</li>
                                        <li class="check">AI Writer</li>
                                        <li class="check">Create Image</li>
                                    </ol>
                                    <ol class="two-work-line">
                                        <li class="check">Marketing</li>
                                        <li class="check">Send Mail</li>
                                        <li class="check cross">Online support</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="table-list active-table wow fadeInUp" data-wow-delay="0.10s">
                            <div class="tabil-list-warp">
                                <div class="top-price-inner">
                                    <h3>Premium</h3>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">$</span>500</span><span class="users">Per Year</span>
                                    </div>
                                    <div class="price-btn-inner">
                                        <a class="price-btn" href=" {% static 'website/contact-1.html' %} ">Buy now</a>
                                    </div>
                                </div>
                                <div class="work-list">
                                    <ol class="one-work-line">
                                        <li class="check">Accessing</li>
                                        <li class="check">AI Writer</li>
                                        <li class="check">Create Image</li>
                                    </ol>
                                    <ol class="two-work-line">
                                        <li class="check">Marketing</li>
                                        <li class="check">Send Mail</li>
                                        <li class="check">Online support</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End pricing area -->
        <!-- Start testimonials Area -->
        <div class="reviews-area area-padding bg-color">
            <div class="container">
                <div class="row">
                   <div class="col-xl-12 col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="section-headline text-center">
                            <h2>Customer says about our company projects</h2>
                            <p>The phrasal sequence of the Lorem Ipsum text is now so widespread and commonplace. widespread and commonplace.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-xl-5 col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="review-image">
                            <img src=" {% static 'website/img/feature/feature1-1.png' %} " alt="">
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="Reviews-content">
                            <!-- start testimonial carousel -->
                            <div class="testimonial-carousel owl-carousel">
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                            <div class="testi-img ">
                                                <div class="guest-details">
                                                    <h4>Edward</h4>
                                                    <span class="guest-rev">Genarel customer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                            <div class="testi-img ">
                                                <div class="guest-details">
                                                    <h4>Charlotte</h4>
                                                    <span class="guest-rev">Genarel customer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                            <div class="testi-img ">
                                                <div class="guest-details">
                                                    <h4>Charlotte</h4>
                                                    <span class="guest-rev">Genarel customer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                            <div class="testi-img ">
                                                <div class="guest-details">
                                                    <h4>Charlotte</h4>
                                                    <span class="guest-rev">Genarel customer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End testimonials end -->
{% endblock content %}