 {% extends "base.html" %}
 {% load static %}
{% block title %} Home {% endblock  %}

 {% block content %}
        <!-- Start Breadcrumb Area -->
        <section class="page-area area-120" >
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 justify-content-start align-items-center">
                        <div class="breadcrumb-title">
                            <div class="white-headline">
                                <h2>Error <span class="sp-color">404</span></h2>
                            </div>
                        </div>
                        <div class="breadcrumb-page">
                           <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                       <a href=" {% static 'website/index.html' %} ">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Error 404</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Breadcrumb Area -->
        <div class="page-head area-padding bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="error-page">
                            <div class="error-main-text text-center">
                                <h1 class="high-text">4<span>0</span>4</h1>
                                <h2 class="error-easy-text">Page Not Found</h2>
                                <h3 class="error-bot">Oops, the page you are looking for does not exit.</h3>
                                <a  class="error-btn anti-btn" href="#">Back Homepage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   {% endblock content %}