 {% extends "base.html" %}
 {% load static %}
{% block title %} Home {% endblock  %}

 {% block content %}
        <!-- Start Breadcrumb Area -->
        <div class="page-area area-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 justify-content-start align-items-center">
                        <div class="breadcrumb-title">
                            <div class="white-headline">
                                <h2>Our <span class="sp-color">Pricing</span></h2>
                            </div>
                        </div>
                        <div class="breadcrumb-page">
                           <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                       <a href=" {% static 'website/index.html' %} ">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Our Pricing</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <!-- start pricing area -->
        <div class="pricing-area bg-color fix area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="price-head-inner">
                            <h2>Company software anual prices include tax and support details</h2>
                            <p>The phrasal sequence of the Lorem Ipsum text is now so widespread and commonplace that many DTP programmes can generate dummy.</p>
                            <div class="price-image">
                                <img src=" {% static 'website/img/feature/price.png' %} " alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="table-list wow fadeInUp" data-wow-delay="0.3s">
                            <div class="tabil-list-warp table-number-one">
                                <div class="top-price-inner align-items-center">
                                    <h3>General</h3>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">$</span>Free</span><span class="users">Any Time</span>
                                    </div>
                                    <div class="price-btn-inner">
                                        <a class="price-btn" href=" {% static 'website/contact.html' %} ">Register</a>
                                    </div>
                                </div>
                                <div class="work-list">
                                    <ol class="one-work-line">
                                        <li class="check">Accessing</li>
                                        <li class="check">AI Writer</li>
                                        <li class="check">Create Image</li>
                                    </ol>
                                    <ol class="two-work-line">
                                        <li class="check">Marketing</li>
                                        <li class="check">Send Mail</li>
                                        <li class="check cross">Online support</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="table-list active-table wow fadeInUp" data-wow-delay="0.6s">
                            <span class="base">Top Rated</span>
                            <div class="tabil-list-warp table-number-two">
                                <div class="top-price-inner">
                                    <h3>General</h3>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">$</span>80</span><span class="users">Per Month</span>
                                    </div>
                                    <div class="price-btn-inner">
                                        <a class="price-btn" href=" {% static 'website/contact.html' %} ">Buy now</a>
                                    </div>
                                </div>
                                <div class="work-list">
                                    <ol class="one-work-line">
                                        <li class="check">Accessing</li>
                                        <li class="check">AI Writer</li>
                                        <li class="check">Create Image</li>
                                    </ol>
                                    <ol class="two-work-line">
                                        <li class="check">Marketing</li>
                                        <li class="check">Send Mail</li>
                                        <li class="check cross">Online support</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="table-list wow fadeInUp" data-wow-delay="0.7s">
                            <div class="tabil-list-warp table-number-three">
                                <div class="top-price-inner">
                                    <h3>Standard</h3>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">$</span>200</span><span class="users">Per Month</span>
                                    </div>
                                    <div class="price-btn-inner">
                                        <a class="price-btn" href=" {% static 'website/contact.html' %} ">Buy now</a>
                                    </div>
                                </div>
                                <div class="work-list">
                                    <ol class="one-work-line">
                                        <li class="check">Accessing</li>
                                        <li class="check">AI Writer</li>
                                        <li class="check">Create Image</li>
                                    </ol>
                                    <ol class="two-work-line">
                                        <li class="check">Marketing</li>
                                        <li class="check">Send Mail</li>
                                        <li class="check cross">Online support</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="table-list active-table wow fadeInUp" data-wow-delay="0.10s">
                            <div class="tabil-list-warp table-number-four">
                                <div class="top-price-inner">
                                    <h3>Premium</h3>
                                    <div class="rates">
                                        <span class="prices"><span class="dolar">$</span>500</span><span class="users">Per Year</span>
                                    </div>
                                    <div class="price-btn-inner">
                                        <a class="price-btn" href=" {% static 'website/contact.html' %} ">Buy now</a>
                                    </div>
                                </div>
                                <div class="work-list">
                                    <ol class="one-work-line">
                                        <li class="check">Accessing</li>
                                        <li class="check">AI Writer</li>
                                        <li class="check">Create Image</li>
                                    </ol>
                                    <ol class="two-work-line">
                                        <li class="check">Marketing</li>
                                        <li class="check">Send Mail</li>
                                        <li class="check">Online support</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End pricing area -->
  {% endblock content %}