 {% extends "base.html" %}
 {% load static %}
{% block title %} Home {% endblock  %}

 {% block content %}
        <!-- Start Breadcrumb Area -->
        <div class="page-area area-120" >
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 justify-content-start align-items-center">
                        <div class="breadcrumb-title">
                            <div class="white-headline">
                                <h2>Customer <span class="sp-color">Reviews</span></h2>
                            </div>
                        </div>
                        <div class="breadcrumb-page">
                           <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                       <a href=" {% static 'website/index.html' %} ">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Our Services</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <!-- Start testimonials Area -->
        <div class="reviews-area reviews-page-area area-padding bg-color">
            <div class="container">
               <div class="row">
                   <div class="col-xl-12 col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="section-headline text-center">
                            <h2>Customer says about our company projects</h2>
                            <p>The phrasal sequence of the Lorem Ipsum text is now so widespread and commonplace. widespread and commonplace.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="client-rating">
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                    </div>
                                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                    <div class="testi-img ">
                                        <div class="guest-details">
                                            <h4>Edward</h4>
                                            <span class="guest-rev">Genarel customer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="client-rating">
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                    </div>
                                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                    <div class="testi-img ">
                                        <div class="guest-details">
                                            <h4>Aurthor</h4>
                                            <span class="guest-rev">Genarel customer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="client-rating">
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                    </div>
                                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                    <div class="testi-img ">
                                        <div class="guest-details">
                                            <h4>Ragner</h4>
                                            <span class="guest-rev">Genarel customer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="client-rating">
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                    </div>
                                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                    <div class="testi-img ">
                                        <div class="guest-details">
                                            <h4>Anderson</h4>
                                            <span class="guest-rev">Genarel customer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="client-rating">
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                    </div>
                                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                    <div class="testi-img ">
                                        <div class="guest-details">
                                            <h4>Selina</h4>
                                            <span class="guest-rev">Genarel customer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="client-rating">
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                    </div>
                                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                                    <div class="testi-img ">
                                        <div class="guest-details">
                                            <h4>Andrew</h4>
                                            <span class="guest-rev">Genarel customer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                </div>
            </div>
        </div>
        <!-- End testimonials end -->
{%endblock content%}