 {% extends "base.html" %}
 {% load static %}
{% block title %} Home {% endblock  %}

 {% block content %}
        <!-- Start Breadcrumb Area -->
        <div class="page-area area-120" >
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 justify-content-start align-items-center">
                        <div class="breadcrumb-title">
                            <div class="white-headline">
                                <h2>Our <span class="sp-color">Services</span></h2>
                            </div>
                        </div>
                        <div class="breadcrumb-page">
                           <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                       <a href=" {% static 'website/index-1.html' %} ">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Our Services</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <!-- Start Welcome area -->
        <div class="welcome-service page-welcome bg-color area-padding">
            <div class="container">
                <div class="row center-welcome">
                    <!-- Start feature column  -->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="wel-text wel-up wow fadeInUp" data-wow-delay="0.2s">
                           <div class="wel-content">
                               <div class="service-img">
                                    <img src=" {% static 'website/img/icon/p1-1.png' %} " alt="">
                                </div>
                               <div class="wel-details">
                                   <a href=" {% static 'website/service-details-1.html' %} "><h4>Cyber Security</h4></a>
                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain. </p>
                               </div>
                           </div>
                        </div>
                    </div>
                    <!-- End feature column  -->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="wel-text wel-center wow fadeInUp" data-wow-delay="0.3s">
                           <div class="wel-content">
                               <div class="service-img">
                                    <img src=" {% static 'website/img/icon/p2-1.png' %} " alt="">
                                </div>
                                <div class="wel-details">
                                   <a href=" {% static 'website/service-details-1.html' %} "><h4>Healthcare</h4></a>
                                   <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain</p>
                               </div>
                           </div>
                        </div>
                    </div>
                    <!-- End feature column  -->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="wel-text wel-up wow fadeInUp" data-wow-delay="0.4s">
                            <div class="wel-content">
                               <div class="service-img">
                                    <img src=" {% static 'website/img/icon/p3-1.png' %} " alt="">
                                </div>
                                <div class="wel-details">
                                    <a href=" {% static 'website/service-details-1.html' %} "><h4>Automation</h4></a>
                                   <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain</p>
                                </div>
                           </div>
                        </div>
                    </div>
                    <!-- End feature column  -->
                </div> 
            </div>
        </div>
        <!-- End Welcome area -->
        <!-- Service area start -->
        <div class="service-area area-padding-2 fix">
            <div class="container">
               <div class="row section-bg-top">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="section-headline section-left-headline wow fadeInLeft" data-wow-delay="0.3s">
                            <h2>Probides our best services</h2>
                            <p>The phrasal sequence of the Lorem Ipsum text is now so widespread and commonplace that many DTP programmes can generate dummy.</p>
                        </div>
                    </div>
				</div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="service-images-inner">
                            <div class="services-image">
                                <img src=" {% static 'website/img/services/ser-bg-1.png' %} " alt="">
                            </div>
                            <div class="row service-wrapper">
                                <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="single-service-wrapper">
                                        <div class="single-service">
                                            <div class="service-img">
                                                <img src=" {% static 'website/img/icon/w1-1.png' %} " alt="">
                                            </div>
                                            <div class="service-content">
                                                <h4><a href=" {% static 'website/service-details-1.html' %} ">Natural language processing system</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="single-service-wrapper right-services ">
                                        <div class="single-service">
                                            <div class="service-img">
                                                <img src=" {% static 'website/img/icon/w2-1.png' %} " alt="">
                                            </div>
                                            <div class="service-content">
                                                <h4><a href=" {% static 'website/service-details-1.html' %} ">Computer vision & pattern Recognition</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="single-service-wrapper">
                                        <div class="single-service">
                                            <div class="service-img">
                                                <img src=" {% static 'website/img/icon/w3-1.png' %} " alt="">
                                            </div>
                                            <div class="service-content">
                                                <h4><a href=" {% static 'website/service-details-1.html' %} ">Sequential data analytics system</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="single-service-wrapper right-services ">
                                        <div class="single-service">
                                            <div class="service-img">
                                                <img src=" {% static 'website/img/icon/w4-1.png' %} " alt="">
                                            </div>
                                            <div class="service-content">
                                                <h4><a href=" {% static 'website/service-details-1.html' %} ">User Behavior Prediction system</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-services End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service area End -->
         <!-- Start Video area -->
        <div class="video-area bg-color area-padding fix">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <!-- End Column -->
                    <div class="col-xl-12 col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="video-image">
                            <img src=" {% static 'website/img/about/ab-1.jpg' %} " alt="">
                            <div class="video-content image-video-content">
                                <a href="https://www.youtube.com/watch?v=YarChGE29gc" class="video-play video-zone">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Column Start -->
                    <div class="col-xl-12">
                        <div class="feature-additional-tab">
                            <!-- Start Nav tabs -->
                            <ul class="nav nav-tabs" id="myTabs" role="tablist wow fadeInUp" data-wow-delay="0.3s">
                                <li class="nav-item" role="presentation">
                                   <button class="nav-link active" id="home-tab-1" data-bs-toggle="tab" data-bs-target="#home-1" type="button" role="tab" aria-selected="false">Healtcare</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                   <button class="nav-link" id="Information-tab" data-bs-toggle="tab" data-bs-target="#Information" type="button" role="tab" aria-selected="false">Automotion</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                   <button class="nav-link" id="Customer-review" data-bs-toggle="tab" data-bs-target="#Review" type="button" role="tab" aria-selected="false">Research</button>
                                </li>
                            </ul>
                            <div class="tab-content tp-content-tab" id="myTabContent-2">
                                <div class="tab-pane active" id="home-1" role="tabpanel" aria-labelledby="home-tab-1">
                                    <!-- End Nav tabs -->
                                    <div class="feture-inner row">
                                        <!-- Start column -->
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="feture-content wow fadeInUp" data-wow-delay="0.3s">
                                                <div class="feture-icon">
                                                    <img src=" {% static 'website/img/icon/c3-1.png' %} " alt="">
                                                </div>
                                                <div class="feture-text">
                                                    <h4>Chat GPT</h4>
                                                    <p>Redug Lares dolor sit amet, consecte adipisicing elit. Animi vero excepturi magnam</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start column -->
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="feture-content wow fadeInUp" data-wow-delay="0.5s">
                                                <div class="feture-icon">
                                                    <img src=" {% static 'website/img/icon/c4-1.png' %} " alt="">
                                                </div>
                                                <div class="feture-text">
                                                    <h4>Research</h4>
                                                    <p>Redug Lares dolor sit amet, consecte adipisicing elit. Animi vero excepturi magnam</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start column -->
                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                            <div class="tab-single-image wow fadeInUp" data-wow-delay="0.3s">
                                                <div class="tab-images">
                                                    <img src=" {% static 'website/img/about/fe1-1.jpg' %} " alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Start Tab Content -->
                                <div class="tab-pane fade" id="Information" role="tabpanel" aria-labelledby="Information-tab">
                                    <div class="feture-inner row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="feture-content wow fadeInUp" data-wow-delay="0.3s">
                                                <div class="feture-icon">
                                                    <img src=" {% static 'website/img/icon/c1-1.png' %} " alt="">
                                                </div>
                                                <div class="feture-text">
                                                    <h4>Robotick</h4>
                                                    <p>Redug Lares dolor sit amet, consecte adipisicing elit. Animi vero excepturi magnam</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start column -->
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="feture-content wow fadeInUp" data-wow-delay="0.5s">
                                                <div class="feture-icon">
                                                    <img src=" {% static 'website/img/icon/c2-1.png' %} " alt="">
                                                </div>
                                                <div class="feture-text">
                                                    <h4>Automotion</h4>
                                                    <p>Redug Lares dolor sit amet, consecte adipisicing elit. Animi vero excepturi magnam</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start column -->
                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                            <div class="tab-single-image wow fadeInUp" data-wow-delay="0.3s">
                                                <div class="tab-images">
                                                    <img src=" {% static 'website/img/about/fe2-1.jpg' %} " alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Start Tab Content -->
                                <div class="tab-pane fade" id="Review" role="tabpanel" aria-labelledby="Customer-review">
                                    <div class="feture-inner row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="feture-content wow fadeInUp" data-wow-delay="0.3s">
                                                <div class="feture-icon">
                                                    <img src=" {% static 'website/img/icon/c1-1.png' %} " alt="">
                                                </div>
                                                <div class="feture-text">
                                                    <h4>Robotick</h4>
                                                    <p>Redug Lares dolor sit amet, consecte adipisicing elit. Animi vero excepturi magnam</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start column -->
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="feture-content wow fadeInUp" data-wow-delay="0.5s">
                                                <div class="feture-icon">
                                                    <img src=" {% static 'website/img/icon/c2-1.png' %} " alt="">
                                                </div>
                                                <div class="feture-text">
                                                    <h4>Automotion</h4>
                                                    <p>Redug Lares dolor sit amet, consecte adipisicing elit. Animi vero excepturi magnam</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start column -->
                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                            <div class="tab-single-image wow fadeInUp" data-wow-delay="0.3s">
                                                <div class="tab-images">
                                                    <img src=" {% static 'website/img/about/fe3-1.jpg' %} " alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Video area -->
        <!-- Start Feature Area -->
        <div class="feature-area fix area-padding bg-color">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-content">
                            <div class="feature-images">
                                <img src=" {% static 'website/img/feature/feature-1.png' %} " alt="" class="first-img">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-all">
                            <div class="left-headline">
                                <h2>Elusion artificial intelligence provides clients security</h2>
                                <p>The phrasal sequence of the Lorem Ipsum text is now so and that many the phrase when found, an alarm can be raised.</p>
                            </div>
                            <!-- about single -->
                            <div class="support-services support-service-1 wow fadeInUp d-flex align-items-center" data-wow-delay="0.3s">
                               <img class="feature-icon-image" src=" {% static 'website/img/feature/f1-1.png' %} " alt="">
                                <div class="support-content">
                                    <h4>Factory Automotion</h4>
                                    <p>The phrasal sequence of the Lorem Ipsum text is now so and that   an alarm can be raised.</p>
                                </div>
                            </div>
                            <!-- about single -->
                            <div class="support-services support-service-2 wow fadeInUp d-flex align-items-center" data-wow-delay="0.7s">
                                <img class="feature-icon-image" src=" {% static 'website/img/feature/f2-1.png' %} " alt="">
                                <div class="support-content">
                                    <h4>Transportation</h4>
                                    <p>The phrasal sequence of the Lorem Ipsum text is now so and that   an alarm can be raised.</p>
                                </div>
                            </div>
                            <!-- about single -->
                            <div class="support-services support-service-3 wow fadeInUp d-flex align-items-center" data-wow-delay="0.7s">
                                <img class="feature-icon-image" src=" {% static 'website/img/feature/f3-1.png' %} " alt="">
                                <div class="support-content">
                                    <h4>Cyber Security</h4>
                                    <p>The phrasal sequence of the Lorem Ipsum text is now so and that   an alarm can be raised.</p>
                                </div>
                            </div>
                            <!-- about single -->
                            <div class="support-services support-service-4 wow fadeInUp d-flex align-items-center" data-wow-delay="0.7s">
                                <img class="feature-icon-image" src=" {% static 'website/img/feature/f4-1.png' %} " alt="">
                                <div class="support-content">
                                    <h4>Healthcare</h4>
                                    <p>The phrasal sequence of the Lorem Ipsum text is now so and that   an alarm can be raised.</p>
                                </div>
                            </div>
                            <!-- about single -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- End Feature Area -->
   {% endblock content %}