 {% extends "base.html" %}
 {% load static %}
{% block title %} Home {% endblock  %}

 {% block content %}
        <!-- Start Breadcrumb Area -->
        <div class="page-area area-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 justify-content-start align-items-center">
                        <div class="breadcrumb-title">
                            <div class="white-headline">
                                <h2>Services <span class="sp-color">Details</span></h2>
                            </div>
                        </div>
                        <div class="breadcrumb-page">
                           <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                       <a href=" {% static 'website/index.html' %} ">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Services Details</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
         <!-- End services Area -->
        <div class="single-services-page bg-color area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="page-head-left">
                           <!-- strat single area -->
                            <div class="single-page-head">
                                <div class="left-menu">
                                    <ul>
                                        <li class="active"><a href=" {% static 'website/service-details.html' %} ">Products design</a></li>
                                        <li><a href=" {% static 'website/service-details.html' %} ">Automation</a></li>
                                        <li><a href=" {% static 'website/service-details.html' %} ">Healthcare</a></li>
                                        <li><a href=" {% static 'website/service-details.html' %} ">E-commerce</a></li>
                                        <li><a href=" {% static 'website/service-details.html' %} ">Factory</a></li>
                                        <li><a href=" {% static 'website/service-details.html' %} ">Artificial</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- strat single area -->
                            <div class="single-page-head">
                                <div class="download-btn">
                                    <a href="#" class="down-btn">Download brochure <i class="fa fa-file-pdf-o"></i></a>
                                    <a href="#" class="down-btn apli">Download PDF <i class="fa fa-file-word-o"></i></a>
                                </div>
                            </div>
                            <!-- strat single area -->
                            <!-- end single area -->
                            <div class="single-page-head">
                                <div class="new-project">
                                    <div class="project-new">
                                        <h4>Are you ready new project?</h4>
                                        <a class="hire-btn anti-btn" href=" {% static 'website/contact.html' %} ">Contact us</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end single area -->
                        </div>
                    </div>
                    <!-- End left sidebar -->
                    <!-- Start service page -->
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <div class="row">
                            <!-- single-well start-->
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="single-well mar-well">
                                    <h2>Everyone knows the important of great product automation</h2>
                                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. When the replaced text selection consists fully of lower-cased or capital letters or begins with a capital letter, that previous casing is maintained. Furthermore, the presence or absence of a trailing punctuation mark of a replaced text selection is being maintained.</p>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="single-page mar-well">
                                    <div class="page-img elec-page">
                                        <img src=" {% static 'website/img/feature/ser1.jpg' %} " alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- End single page -->
                        </div>
                        <!-- end Row -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="single-well mar-well">
                                    <a href="#">
                                        <h3>What kind of business you have could investment</h3>
                                    </a>
                                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained.When the replaced text selection consists fully of lower-cased or capital letters or begins with a capital letter, that previous casing is maintained. Furthermore, the presence or absence of a trailing punctuation mark of a replaced text selection is being maintained.</p>
                                </div>
                            </div>
                            <!-- End single page -->
                        </div>
                        <!-- end Row -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="single-well mar-well">
                                    <h4>Risk assessment solution</h4>
                                    <p>When replacing a multi-lined selection of text .text within a single line, the amount of words is roughly being maintained.</p>
                                    <ul class="marker-list">
                                        <li>Words is roughly being maintained</li>
                                        <li>Letters or begins with a capital letter</li>
                                        <li>Previous casing is maintained</li>
                                        <li>Maintains the amount of lines</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="single-page mar-well">
                                    <div class="page-img">
                                        <img src=" {% static 'website/img/feature/ser2.jpg' %} " alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="single-well mar-well last-content">
                                    <h3>AI install business management system</h3>
                                    <p class="last-content">When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained.When the replaced text selection consists fully of lower-cased or capital letters or begins with a capital letter, that previous casing is maintained. Furthermore, the presence or absence of a trailing punctuation mark of a replaced text selection is being maintained.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end Row -->
                    </div>
                </div>
            </div>
        </div>     
        <!-- End service details area -->
    {% endblock content %} 