 {% extends "base.html" %}
 {% load static %}
{% block title %} team {% endblock  %}

 {% block content %}
    <main>
        <!-- Start Breadcrumb Area -->
        <div class="page-area area-120" >
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 justify-content-start align-items-center">
                        <div class="breadcrumb-title">
                            <div class="white-headline">
                                <h2>Our <span class="sp-color">Teams</span></h2>
                            </div>
                        </div>
                        <div class="breadcrumb-page">
                           <nav aria-label="breadcrumb">
                                <ol class="breadcrumb ">
                                    <li class="breadcrumb-item">
                                       <a href=" {% static 'website/index.html' %} ">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Our Services</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <!--Start Team Area-->
        <div class="team-area bg-color area-padding-2">
           <div class="container">
                <div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="section-headline text-center">
							<h2>Our Teams</h2>
                            <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create. maintains the amount of lines</p>
						</div>
					</div>
               </div>
                <div class="row">
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t1.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Arnold</a></h4>
                                    <p>Media expert</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t2.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Arizona</a></h4>
                                    <p>Web design</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t3.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Lunia</a></h4>
                                    <p>Marketer</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t4.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Lunia</a></h4>
                                    <p>Marketer</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t5.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Holend</a></h4>
                                    <p>Marketer</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single team member -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="team-member-inner">
                            <div class="single-member">
                                <div class="team-img">
                                    <img src=" {% static 'website/img/team/t6.jpg' %} " alt="">
                                </div>
                                <div class="team-content">
                                    <h4><a href=" {% static 'website/team-single.html' %} ">Jakob</a></h4>
                                    <p>Marketer</p>
                                    <ul class="team-hover">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Teams area end -->
  {% endblock content %}